{% load static %}

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Import Google Icon Font-->
    <link href="{% static "material-design-icons/iconfont/material-icons.css" %}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.css" %}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
  <body>
    <script type="text/javascript" src="{% static "jquery/jquery-3.4.1.js" %}"></script>
   
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "materialize/js/materialize.js" %}"></script>
  </body>
</html>
